<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add-role</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <link href="css/style-default.css" rel="stylesheet" id="style_color"/>
    <link rel="stylesheet" href="css/sweetalert.css">
</head>
<body  style="background-color: white">
    <div class="content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>添加角色</h3>
                <div class="but-bor"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-md-offset-1">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="name" style="display: inline-block;width: 20%;text-align: left">角色名称:</label>
                                <input type="text" class="form-control roleName" id="name" name="roleName" style="display: inline-block;width: 79%">
                            </div>
                            <div class="form-group">
                                <table class="permission-list table table-bordered table-hover table-striped">

                                </table>
                            </div>
                            <div class="form-group" style="margin-top: -25px;">
                                <label class="radio-inline">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="0"> 不存档
                                </label>
                                <label class="radio-inline" style="margin-left: 20px;">
                                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="1"> 存档
                                </label>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-lg btn-success btn-role-add">添加</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="extend/sweetAlert/js/sweetalert.min.js"></script>
<script>
    $(function(){
        $.get("/authorize/permissionsList",function(result){
            var str="";
            for(var i in result){
                str+="<tr><td style='width: 10%;text-align: center'>"+"<input type='checkbox' id="+result[i].id+" />"+"</td>" +
                    "<td>"+result[i].permission+"</td></tr>"
            }
            $(".permission-list").append(str);
        })
        $(".btn-role-add").on("click",function(){
            var permissionId=[];
            if($(".roleName").val()==""){
                alert("角色名称不能为空!");
                return false
            }
            $(".permission-list").find("input[type=checkbox]").each(function(){
                if($(this).is(":checked")){
                    permissionId.push($(this).attr("id"));
                }
            });

            if(permissionId.length!=0){
                $.ajax({
                    url:"/authorize/addRoles",
                    type:"post",
                    traditional: true,
                    data:{
                        roleName:$(".roleName").val(),
                        archived:$(".form-group").find("input[type=radio]:checked").val(),
                        permissionIds:permissionId
                    },
                    dataType:"json",
                    success:function(data){
                        swal({
                            title: "",
                            text: "角色添加成功！",
                            type: "success",
                            timer: 1200,
                            showConfirmButton: false
                        });
                        setTimeout(function(){
                            window.location.href="roles-management.html";
                        },1500)


//                        if(result2.code==200){
//                            swal({
//                                title: "",
//                                text: "角色添加成功！",
//                                type: "success",
//                                timer: 1200,
//                                showConfirmButton: false
//                            });
//                            window.location.href="roles-management.html";
//                        }else{
//                            swal({
//                                title: "",
//                                text: "添加角色失败，请重试！",
//                                type:"error",
//                                timer: 1500,
//                                showConfirmButton: false  //是否显示确认按钮，默认为true
//                            });
//                        }
                    },
                    error:function(msg){
                        console.log(msg);
                    }
                });

            }else{
                swal({
                    title: "",
                    text: "请先选择权限！",
                    type:"error",
                    timer: 1500,
                    showConfirmButton: false  //是否显示确认按钮，默认为true
                });
            }

        })

    })
</script>
</html>