<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet"/>
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <link href="css/style-default.css" rel="stylesheet" id="style_color"/>
    <link rel="stylesheet" href="css/sweetalert.css">
    <link href="assets/fancybox/source/jquery.fancybox.css" rel="stylesheet"/>
    <link rel="stylesheet" href="assets/uniform/css/uniform.default.css"/>
</head>
<body style="background-color: white">
<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>时间选择器</h3>
            <div class="but-bor"></div>
        </div>
        <div class="panel-body">
            <form class="form-inline" action="#">
                <div class="row" style="padding: 0 20px;margin-top: 15px;">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="time1">选择时间：</label>
                            <input type="datetime-local" id="time1" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="time2">选择时间：</label>
                            <input type="datetime" id="time2" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="time3">选择时间：</label>
                            <input type="date" id="time3" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>