<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <link href="css/style-default.css" rel="stylesheet" id="style_color"/>
    <style>
        .news-header{

        }
        .img-box{
            margin: 50px 0;
        }
        .date-box{
            margin-top: 20px;
        }
    </style>
</head>
<body style="background-color: white">
<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>新闻详情</h3>
            <div class="but-bor"></div>
        </div>
        <div class="panel-body">
            <div class="news-content">
                <div class="row">
                    <div class="news-detail col-md-6 col-md-offset-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/handlebars.min.js"></script>
<script type="text/x-handlebars-template" id="index-news-detail">
        <div class="news-header">
            <h3>{{title}}</h3>
        </div>
        <div class="news-body">
            <div class="img-box">
                <p>
                    <img src="images/{{picture}}" alt="" width="60%" height="300px"/>
                </p>
            </div>
            <div class="date-box">
                <p>{{stringUpdateTime}}</p >
            </div>
            <div class="news-content">
                {{content}}
            </div>
        </div>
</script>
<script>
    $(function(){
        function GetQueryString(name){
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        }
        var num =GetQueryString("id");
        console.log(num);
        $.post("/news/detail?id="+num,function(result){
            console.log(result);
            var template = Handlebars.compile($("#index-news-detail").html());
            $('.news-detail').append(template(result.data));
        })

    })
</script>
</html>