<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/style-responsive.css" rel="stylesheet"/>
    <link href="css/style-default.css" rel="stylesheet" id="style_color"/>
    <link rel="stylesheet" href="css/sweetalert.css">
</head>
<body style="background-color: white">
<div class="content">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a type="button" href="newsadd.html" class="btn btn-lg btn-info" >添加新闻</a>
            <!--<button type="button" class="btn btn-lg btn-info" href="ueditor.html">添加新闻2</button>-->
            <div class="but-bor"></div>
        </div>
        <div class="panel-body">
            <div class="news-content">

            </div>
        </div>
    </div>
</div>
</body>

<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/handlebars.min.js"></script>
<script src="extend/sweetAlert/js/sweetalert.min.js"></script>
<script type="text/x-handlebars-template" id="index-news-template">
    {{#each data.list}}
    <div class="index-content-single">
        <div class="index-module-content-left">
            <img src="images/{{picture}}" width="206" height="133">
        </div>
        <div class="index-module-content-right">
            <div class="index-module-content-header">
                <span class="news-detail-title">{{title}}</span>
            </div>
            <div class="index-module-content-aside">
                <span class="date-icon">
                    <img src="http://ob0qnc68y.bkt.clouddn.com/images/date.png" alt="" style="width: 18px;height: 18px;">
                </span>
                <span class="date">{{stringUpdateTime}}</span>
            </div>
            <div class="index-module-content-body">
                {{{content}}}
            </div>
            <div class="check" id="{{id}}">
                <span style="color: #00a0e9;cursor: pointer;" class="edit-new">编辑</span>
                <span style="color: red;cursor: pointer;" class="view-news-delete">删除</span>
            </div>
        </div>
    </div>
    {{/each}}
</script>
<script>
    $(function(){
        $.post("/news/list",function(result){
            var template = Handlebars.compile($("#index-news-template").html());
            $('.news-content').append(template(result));
        })
        $(".news-content").delegate(".edit-new","click",function(){
            var _id=$(this).parent().attr("id");
            window.location.href="editorNews.html?id="+_id;
            console.log(_id);
        })
        $(".news-content").delegate(".news-detail-title","click",function(){
            var _id=$(this).parent().siblings(".check").attr("id");
            window.location.href="news-detail.html?id="+_id;
        })
        // 删除
        $(".news-content").delegate(".view-news-delete","click",function(){
            var _id=$(this).parent().attr("id");
            swal({
                title: "确定删除？",
                text: "删除后将无法在相应业务端显示",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "确定删除",
                cancelButtonText: "取消",
                allowOutsideClick:true,  // 如果设置为true，用户点击弹窗外部可关闭弹窗
                closeOnConfirm: false,
                closeOnCancel: true  // cancel按钮是否默认关闭
            },function(isConfirm){
                if(isConfirm){
                    $.post("/news/delete?id="+_id,function(result){
                        if(result.code==200){
                            swal({
                                title: "删除！",
                                text: "数据删除成功！",
                                type: "success",
                                timer: 1200,
                                showConfirmButton: false
                            });
                            $(this).parents(".index-content-single").remove();
                            setTimeout(function(){
                                window.location.reload();
                            },1300)

                        }
                    })
                }
            })
        })
    })
</script>
</html>